VERIFY_TOKEN=chemi_usafrtxo_tokeni
PAGE_ACCESS_TOKEN=EAANZAcpjZBEUEBO9JZCbZCGyExpK277CXVZANw4G69xZCXvp404f9ZAKvDKtaBSrpGtmjOPiL8bxtkeAEKKjSvLbgFNw0bbNaAKo8tVIxPL3WKH8qKrPb19ms7CEYspbdZBQbvnogSKipZBQZBs4R3LZAzMaVif2yIzzZCBNo7IyM16eErUSG4wvJQ1bJVzaGt9kk2cehuEHfwkZAfj1OyNfZCCYJh25MQHDt1tWaROHPuDZCZCjcPEqDtTLzIBjASFsUtD83rYZD
OPENAI_API_KEY=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
